<!-- Formulario de nuevo Ususario-->
<div class="col-3"></div>
<div class="col"></div>
<div class="col-3"></div>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">REGISTRO</h4>
            <form class="form-sample">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" [(ngModel)]="username" name="username"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contraseña</label>
                            <div class="col-sm-9">
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" [(ngModel)]="contrasena" name="contrasena"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-12">
                    <button type="submit" (click)="agregar()" class="col-sm-12 col-md-12 btn btn-primary mr-2">Agregar</button>
                </div>
                <div class="col-sm-12 col-md-12">
                    <button (click)="cancelar()" class="col-sm-12 col-md-12 btn btn-light">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>